@page

@model Drk4uAppAdministration.Pages.EmergenciesModel
@{
    ViewData["Title"] = "Emergencies";
}

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Hello World!</p>
        </div>
    </div>
</div>